# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Node (in case it's added later)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Portfolio Specific
portfolio_v8.zip
portfolio2/
assets/img/photo_b64.txt
